.portlet-body p {
    word-wrap: break-word;
}

.tag {
    color: #ffffff;
}

.label-type {
    background-color: rgba(48, 208, 149, 0.6);
}

.label-server {
    background-color: rgba(141, 83, 185, 0.6);
}

.label-time {
    background-color: rgba(57, 208, 232, 0.6);
}

.label-ips {
    background-color: rgb(0 46 90);
}

.btn-tag {
    background-color: #2d8cf0 !important;
}